# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://aaa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=key

# Database (direct connection for Drizzle migrations)
DATABASE_URL=postgresql://postgres:[dbpwd]@db.vvxilnomwgcayzcmlciy.supabase.co:5432/postgres